button{
    background: none;

    border: 2px solid $main;
    padding: 4px 20px;

    font-size: $_20px;
    text-transform: uppercase;
    color: $white;


    &:hover{
        transition: .3s;

        background: $main;
    }

    &--black{
        color: $black;
    }

    &--main{
        color: $main;
    }
}

.button__priceList{
    background: none;

    border: 2px solid $white;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;

    font-size: $_20px;
    text-transform: uppercase;
    color: $white;


    &:hover{
        transition: .3s;

        background: $main;
    }

    &--black{
        &:hover{
            transition: .3s;
    
            background: $bg-header-bottom;
        }
    }
}

.button__aboutUs{
    background: $main;
    padding: 4px 5px;
}