.priceList{
    height: 900px;
    background: $bg-priceList;
}

.priceList__head{
    padding-top: 184px;

    font-size: $_50px;
    text-align: center;
    text-transform: uppercase;
}

.priceList__abonements{
    display: flex;
    justify-content: space-between;
}

.priceList__item{
    margin-top: 50px;
    width: 300px;

    text-align: center;
    background: $bg-header-bottom;
    
    &--main{
        background: $main;
    }
}

.priceList__title{
    margin-top: 30px;
    margin-bottom: 12px;
}

.priceList__titlesub{
    margin-bottom: 30px;
    opacity: .6;
}

.priceList__price{
    margin-bottom: 30px;

    font-size: $_50px;

    & span{
        padding-bottom: 10px;
        font-size: $_20px;
    }
}

.priceList__list{
    position: relative;

    & ul {
        position: relative;

        & li{
            margin-bottom: 15px;
        }

        & svg{
            position: absolute;
            top: 0;
            left: 90px;
    
            width: 20px;
            height: 20px;
            fill: $white;
        }
    }


    
}