// COLORS

$bg-header-top:     #94103c;
$bg-header-bottom:  #2B2024;
$main:              #FD0054;
$black:             #707070;
$dark:              #000000;
$white:             #fff;
$header-bg:         #2B2024;
$line:              #464646;
$grey:              #909090;
$white_dark:        #F4F4F4;
$bg-priceList:      #AB0139;


// FONT-SIZE

$_10px: 10px;
$_15px: 14px;
$_16px: 16px;
$_20px: 20px;
$_24px: 24px;
$_32px: 32px;
$_40px: 40px;
$_48px: 48px;
$_50px: 50px;
$_100px: 100px;
$_150px: 150px;