<footer>
    <div class="conteiner">
        <div class="footer__wrapper">
            <div class="footer__info">
                <div class="footer__title">
                    <svg><use xlink:href="#logo"></use></svg>    
                    ANGEL FIT
                </div>
                <div class="footer__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis error sit sed! Quam recusandae aperiam minus reprehenderit accusantium esse. Deleniti vitae nesciunt dolorem minus dignissimos fugiat quasi dolores a corporis.</div>
            </div>
            <div class="footer__list">
                <ul class="footer__list1">
                    <div class="footer__title">INFORMATION</div>
                    <a href=""> <li> ABOUT US       </li> </a>
                    <a href=""> <li> CUSTOMERS      </li> </a>
                    <a href=""> <li> CLIENTS        </li> </a>
                    <a href=""> <li> PORTFOLIO      </li> </a>
                </ul>

                <ul class="footer__list2">
                    <div class="footer__title">SERVICES</div>
                    <a href=""> <li>TRAINING AT HOME</li> </a>
                    <a href=""> <li>FITNESS FOR KIDS</li> </a>
                    <a href=""> <li>ONLINE COACH    </li> </a>
                    <a href=""> <li>CHAMPIONS       </li> </a>
                </ul>
            </div>
            <div class="footer__form">
                <div class="footer__title">SUBSCRIBE TO NEWSLETTER</div>

                <form action="POST">

                    <input type="email" class="form__footer">

                    <button class="button">submit</button>
                </form>
            </div>
        </div>

        <hr>

        <div class="footer__footer">
            <div class="footer__left">
                <p>Copyright @ 2020 All Rights Reserved.</p>
                <p>+614 434 333</p>
                <p>info@angelclub.com</p>
                <p>Sydney, Australia</p>
            </div>
            <div class="footer__right">
                <a href="#"><svg><use xlink:href="#facebook"></use></svg></a>
                <a href="#"><svg><use xlink:href="#instagramm"></use></svg></a>
                <a href="#"><svg><use xlink:href="#linkedin"></use></svg></a>
                <a href="#"><svg><use xlink:href="#twitter"></use></svg></a>
                <a href="#"><svg><use xlink:href="#youtube"></use></svg></a>
            </div>
        </div>

    </div>

</footer>
